APP_LOCALE=

# Database configuration
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

Mail_FROM_ADDRESS=
MAIL_FROM_NAME=

MAIL_TO_ADDRESS=
MAIL_TO_NAME=