@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@source "../views/**/*.twig";

@theme {
  --color-background-primary: #fafaf0;
  --color-background-dark: #192734;
  --color-background-dark-secondary: #2C3E50;
  --color-custom-blue: #567185;
  --font-main: "Tomorrow", sans-serif;
}
